#buy-btn {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #AD8B73;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0 0 10px 10px;
}
